
/*#lockscreen {
  background: url(../img/bg_squares3b.png) repeat center center fixed !important;
}
*/
#lockscreen {
  background: url(../img/blur-background.jpg) repeat center center fixed !important;
}

.fontOS {
	font-family: 'open_sanslight',
	url('font/opensans-light-webfont.eot'),
	url('font/opensans-light-webfont.eot?#iefix'),
	format('embedded-opentype'),     
	url('font/opensans-light-webfont.woff2') format('woff2'),     
	url('font/opensans-light-webfont.woff') format('woff'),      
	url('font/opensans-light-webfont.ttf') format('truetype'),      
	url('font/opensans-light-webfont.svg#open_sanslight') format('svg');
	font-size: 1.5rem;
	font-weight: 200;
}

.sofTran {
	transition:background 0.3s;
	-webkit-transition:background 0.3s;
	-o-transition:background 0.3s;
	-moz-transition:background 0.3s;
	-ms-transition:background 0.3s;
}

#spn_logo{
	margin-top: 5%;
	width: 15%;
	overflow:inherit !important;
	min-width: 150px;	
}

#spn_login{
	width:20%;
	margin:0 auto;
	margin-top: -2%;
	margin-bottom:2%;
	min-width: 200px;
	text-align: center !important;
}

/* LANGUAGE SELECTOR STYLE*/

#lang_select_area {
	width:100%;
	height: 40px;
	margin:0 auto;
	margin-top: none;
	margin-bottom:6%;
	min-width: 200px;
	text-align: center !important;
	overflow: hidden;
	cursor: default;	
}

#lang_select_area input[type="radio"] {
	display: none;
}	
		
#lang_select_area input[type="radio"] + label {
	cursor: pointer;
    width: 22%;
    margin: 5px 2px 0 2px;
}	

#lang_select_area input[type="radio"] + label img {
	width: 50px;
	opacity: 0.3 !important;
	-webkit-filter: grayscale(90%);
	-webkit-transition: 0.3s;
}

#lang_select_area input[type="radio"]:checked + label img {
	width: 50px;
	opacity: 1 !important;
	-webkit-filter: grayscale(0%);
	-webkit-transition: 0.3s;
}

#lang_select_area input[type="radio"] + label img:hover {
	width: 50px;
	opacity: 1 !important;
	-webkit-filter: grayscale(0%);
	-webkit-transition: 0.3s;
}


/* /LANGUAGE SELECTOR STYLE*/

input[type="submit"].spn{
  width:100%;
  background:#96989A;
  border:0;
  padding:5%;
  font-size:90%;
  color:#fff;
  cursor:pointer;
  margin-bottom: 5%;
  transition:background 0.3s;
  -webkit-transition:background 0.3s;
  -o-transition:background 0.3s;
  -moz-transition:background 0.3s;
  -ms-transition:background 0.3s;  
}

input[type="submit"].spn:hover{
  background:#F58634;
}

input[type="submit"].spn.disabled:hover{
  background:#96989A;
  cursor:default;
}

input[type="password"].spn{
  width:100%;
  background:#fff;
  margin-bottom:5.5%;
  border:1px solid #ccc !important;
  padding:4%;
  font-family:'Open Sans',sans-serif !important;
  font-size:80%;
  font-weight:200;
  color:#555;
}

input[type="text"].spn{
  width:100%;
  background:#fff;
  margin-bottom:5.5%;
  border:1px solid #ccc !important;
  padding:4%;
  font-family:'Open Sans',sans-serif !important;
  font-size:80%;
  font-weight:200;
  color:#555;
}

input[type="checkbox"].spn{ 
	vertical-align: middle; 
    color:#000 !important;
} 

#remember_password_container.spn{
    color:#F58634 !important;
}

.btn.btn-spn {
	font-size: 1.3rem;
  background-color: #96989A;
  color: white;
}
.btn.btn-spn:hover,
.btn.btn-spn:active,
.btn.btn-spn.hover {
  background-color: #F58634;  
}

#server_status{
    position:fixed;
    bottom : 20px;
    left : 20px;
}

@media only screen and (max-width: 900px) {
#lang_select_area {
	height: 65px;
}

#lang_select_area input[type="radio"] + label {
    margin: 0px 2px 10px 2px;
}
	
}